<a href="https://colab.research.google.com/github/Grace-cing/MMDT_T-PY101_Batch03/blob/main/NuamManCing/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [3]:
My_name = "My name is python"
len(My_name)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [6]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.lower().count("python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [7]:
Ls1= ["apple", "banana", "cherry"]
Ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = Ls1 + Ls2
print(new_list)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [8]:
my_dict = {"Myo":32, "Thida":64}
print(my_dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [9]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set)

{'Education', 'status', 'age', 'Name', 'Height'}

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
text = input("Enter a string: ")
new_string = original_string[0] + "*" + original_string[2:] + "!!!"
print(new_string)

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [25]:
import string

s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

# Convert the string to lowercase
s_lower = s.lower()

# Create a translation table to remove all punctuation characters
# string.punctuation contains '"#$%&\'()*+,-./:;<=>?@[\]^_`{|}~'
translator = str.maketrans('', '', string.punctuation)

# Apply the translation to the lowercase string to remove punctuation
result_string = s_lower.translate(translator)

print(result_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [21]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,100))

missing_number = sum(L1) - sum(L2)
print(missing_number)

45

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [22]:
Ls1 =["apple", "banana", "cherry"]
new_list = Ls1.copy()
new_list.append("blueberry")
print(new_list)

['apple', 'banana', 'cherry', 'blueberry']